
.preloader {
  display: block;
  position: relative;
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.preloader--position-center {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.preloader--light div {
  border-color: #fff transparent transparent
}

.preloader--blue div {
  border-color: #3789d4 transparent transparent
}

.preloader--dark div {
  border-color: #000 transparent transparent
}

.preloader--sm, .preloader--sm div {
  width: 20px;
  height: 20px
}

.preloader--sm div {
  border-style: solid;
  border-width: 2px;
  margin: 0
}

.preloader--md {
  width: 64px;
  height: 64px
}

.preloader--md div {
  width: 51px;
  height: 51px;
  border-style: solid;
  border-width: 6px;
  margin: 6px
}

.preloader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  border-radius: 50%;
  -webkit-animation: preloader 1.2s cubic-bezier(.5, 0, .5, 1) infinite;
  animation: preloader 1.2s cubic-bezier(.5, 0, .5, 1) infinite
}

.preloader div:first-child {
  -webkit-animation-delay: -.45s;
  animation-delay: -.45s
}

.preloader div:nth-child(2) {
  -webkit-animation-delay: -.3s;
  animation-delay: -.3s
}

.preloader div:nth-child(3) {
  -webkit-animation-delay: -.15s;
  animation-delay: -.15s
}

@-webkit-keyframes preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}

@keyframes preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}
