
.full-width {
  width: 100%;
}

.react-datepicker__input-container,
.react-datepicker-wrapper {
  width: 100%;
}
<<<<<<< HEAD
=======
.d-none {
  display: none !important;
}
>>>>>>> a3180f5da718ac899fb9f404f73e60e692dcadbe
